.anjgk { 
  line-height: 81px;
  padding-bottom: 24px;
  border-top-width: 56px;
  padding-left: 11px;
  font-size: 32px;
  padding-right: 6px;
  border-bottom-width: 80px;
  border-bottom-width: 21px;
  padding-right: 59px;
  padding-right: 76px;
}
