.anjgk { 
  line-height: 81px;
  padding-bottom: 24px;
  border-top-width: 56px;
  padding-left: 11px;
  font-size: 32px;
  padding-right: 6px;
  border-bottom-width: 80px;
  border-bottom-width: 21px;
  padding-right: 59px;
  border-right-width: 53px;
  margin-top: 76px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 69px;
  border-bottom-width: 9px;
  padding-left: 31px;
  padding-left: 67px;
  border-right-width: 30px;
  margin-bottom: 49px;
  border-bottom-width: 49px;
  margin-right: 52px;
  padding-left: 52px;
  padding-bottom: 47px;
  font-size: 91px;
  margin-bottom: 79px;
  margin-bottom: 90px;
  border-top-width: 13px;
}
